.chats-pg {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent page scroll */
}

.chat-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("@assets/chat-bg.png");
    background-position: center;
    background-size: 60%;
    opacity: 0.05;
    z-index: -10;
}

.chats-pg .header {
    height: 64px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    background-color: #202c33;
}

.chat-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
    margin: 2px;
    padding: 10px 16px;
    overflow-y: auto;
}

.message-bar-container {
    height: 54px;
    margin: 12px 16px;
    margin-top: 0px;
    border-radius: 10px;
    background-color: rgb(45, 45, 45);
}