.chats-pg {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--chat-bg-color);
    overflow: hidden; /* Prevent page scroll */
}

.chat-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("@assets/chat-bg.png");
    background-position: center;
    background-size: 60%;
    filter: invert(50%);
    opacity: 0.1;
    z-index: -10;
}

.chats-pg .header {
    height: 64px;
    padding-right: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    background-color: var(--header-color);

    span {
        cursor: pointer;
        font-size: 24px;
        border-radius: 50%;
        padding: 8px;

        &:hover {
            background-color: #90909030;
        }
    }
}

.chat-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
    margin: 2px;
    padding: 10px 16px;
    overflow-y: auto;
}

.message-bar-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: auto;
    margin: 12px 16px;
    margin-top: 0px;
    padding: 5px;
    gap: 6px;
    border-radius: 12px;
    background-color: var(--message-bar-color);
}

.message-input {
    flex: 1;
    padding: 10px 4px 10px 14px;
    border: none;
    outline: none;
    font-size: 16px;
    resize: none;
    overflow-y: auto;
    height: auto;
    max-height: 150px;
    min-height: 46px;
    line-height: 1.4;
}

.send-message {
    height: 50px;
    padding: 12px;
    aspect-ratio: 1/1;
    border-radius: 12px;
    background-color: var(--primary-color);
    transition: transform 0.15s ease, background 0.2s ease;
    cursor: pointer;

    &:hover{
        transform: scale(0.95);
        background-color: var(--secondary-color);
    }
}