.home-pg {
    position: relative;
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--chat-bg-color);
    overflow: hidden; /* Prevent page scroll */
}

.home-pg .header {
    height: 64px;
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    background-color: var(--header-color);

    p {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    h1,h2 {
        font-size: 32px;
        font-weight: bolder;
        font-family: 'M PLUS Rounded 1c', sans-serif;
    }

    h1 {
        color: var(--icon-color);
    }

    span {
        cursor: pointer;
        font-size: 24px;
        border-radius: 50%;
        padding: 8px;

        &:hover {
            background-color: #90909030;
        }
    }
}

.home-pg .footer {
    display: flex;
    flex-direction: row;
    gap: 6px;
    font-size: 12px;
    margin: 64px 0 32px;
    align-self: center;
    align-items: center;

    span {
        font-size: 12px;
    }

    p:nth-of-type(2) {
        color: var(--primary-color);
    }
}

.home-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("@assets/chat-bg.png");
    background-position: center;
    background-size: 60%;
    filter: invert(50%);
    opacity: 0.08;
    z-index: -10;
}

.chat-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 10px 8px;
  overflow-y: auto;
}

.new-chat {
    cursor: pointer;
    position: absolute;
    bottom: 48px;
    right: 24px;
    padding: 16px;
    border-radius: 16px;
    font-size: 32px;
    background-color: var(--primary-color);
    color: black;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }
}