.chat-item {
    height: auto;
    flex: 1;
    padding: 10px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.chat-item.style-header {
    border-radius: 0px;
}

.chat-item.style-list {
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: #90909030;
    }
}

.chat-item .back {
    display: inline-block;
    font-size: 18px;
    transition: font-size 0.2s ease;

    &:hover {
      cursor: pointer;
      font-size: 24px;
    }
}


.chat-icon {
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.chat-icon.style-header {
    height: 40px;
}

.chat-icon.style-list {
    height: 50px;
}

.chat-info {
    display: flex;
    flex-direction: column;
    height: fit-content;
    flex: 1;
    gap: 4px;
    text-align: start;
    overflow: hidden;

    div {
        display: flex;
        flex: 1;
        gap: 6px;
        flex-direction: row;
    }

    h1 {
        font-size: 16px;
        font-weight: 500;
        flex: 1;
        color: #ffffff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h2 {
        font-size: 12px;
        color: #ffffff99;
        white-space: nowrap;
    }

    h3 {
        font-size: 13px;
        flex: 1;
        color: #ffffff99;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h4 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 22px;
        min-width: 22px;
        font-size: 12px;
        font-weight: 600;
        padding: 2px 6px;
        background-color: #21c063;
        border-radius: 11px;
        color: #0A0A0A
    }
}