.chat-item {
    height: auto;
    flex: 1;
    padding: 10px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.chat-item.style-header {
    border-radius: 0px;
}

.chat-item.style-list {
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: #90909030;
    }
}

.chat-item .back {
    display: inline-block;
    font-size: 18px;
    transition: font-size 0.2s ease;

    &:hover {
      cursor: pointer;
      font-size: 24px;
    }
}

.chat-icon {
    position: relative;
    aspect-ratio: 1/1;
    cursor: pointer;

    img, span {
        border-radius: 50%;
        height: 100%;
        width: 100%;
    }

    img {
        object-fit: cover;
    }

    span {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        color: white;
        opacity: 0;
        transition: opacity 0.1s ease;
    }
}

.chat-icon.style-header {
    height: 40px;
}

.chat-icon.style-list {
    height: 50px;
    
    &:hover span {
        opacity: 1;
    }
}

.chat-info {
    display: flex;
    flex-direction: column;
    height: fit-content;
    flex: 1;
    gap: 4px;
    text-align: start;
    overflow: hidden;

    div {
        display: flex;
        flex: 1;
        gap: 6px;
        flex-direction: row;
    }

    h1 {
        font-size: 16px;
        font-weight: 500;
        flex: 1;
        color: var(--text-color-primary);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h2 {
        font-size: 12px;
        color: var(--text-color-secondary);
        white-space: nowrap;
    }

    h3 {
        font-size: 13px;
        flex: 1;
        color: var(--text-color-secondary);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h4 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 22px;
        min-width: 22px;
        font-size: 12px;
        font-weight: 600;
        padding: 2px 6px;
        background-color: var(--primary-color);
        border-radius: 11px;
        color: #0A0A0A
    }
}