.dp-display-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    div {
        position: relative;
        flex: 1;
        max-width: 480px;
        aspect-ratio: 1/1;
        margin: 32px;
    }

    img {
        height: 100%;
        border-radius: 10px;
        background-color: rgb(50, 50, 50);
    }

    span {
        position: absolute;
        top: 16px;
        left: 16px;
        padding: 6px;
        border-radius: 50%;
        background-color: black;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: red;
        }
    }
}