@import "tailwindcss";

:root {
  color-scheme: light dark;

  /* common colors */
  --icon-color: rgb(58, 149, 254);

  /* light mode */
  --bg-color: #F7F7F7;
  --chat-bg-color: rgba(236, 229, 221, 0.314);
  --panel-color: #FAFAFA;
  --header-color: rgb(220, 230, 235);
  --text-color-primary: #000000de;
  --text-color-secondary: #00000099;
  --text-color-inverted: #ffffffde;
  --primary-color: #25d366;
  --secondary-color: #1e9f4d;
  --message-bar-color: #FAFAFA;
  --chat-bubble-color: rgb(220, 255, 200);
  --chat-received-bubble-color: #FAFAFA;
}

/* dark mode */
[data-theme="dark"] {
  --bg-color: #242424;
  --chat-bg-color: rgba(18, 27, 33, 0.1);
  --panel-color: #323232;
  --header-color: rgb(32, 46, 54);
  --text-color-primary: #ffffffde;
  --text-color-secondary: #ffffff99;
  --text-color-inverted: #000000de;
  --primary-color: #21C063;
  --secondary-color: #1e9f4d;
  --message-bar-color: rgb(45, 45, 45);
  --chat-bubble-color: #075e54;
  --chat-received-bubble-color: #262d31;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  place-items: center;

  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color-primary);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popUp {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.fade-in {
  animation: fadeIn 0.2s ease-out;
}

.pop-up {
  animation: popUp 0.2s ease-out;
}

.blur-bg {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

html[data-theme="dark"] .blur-bg {
  background-color: rgba(20, 20, 20, 0.5);
}

html[data-theme="light"] .blur-bg {
  background-color: rgba(80, 80, 80, 0.5);
}

.blur-bg-5{
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

html[data-theme="dark"] .blur-bg-5 {
  background-color: rgba(20, 20, 20, 0.8);
}

html[data-theme="light"] .blur-bg-5 {
  background-color: rgba(80, 80, 80, 0.8);
}

/* WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(127, 127, 127, 0.5);
  border-radius: 8px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(127, 127, 127, 0.214) transparent;
}